.similar-items-wrapper {
  position: relative;
  background: #f2f2f2;
  padding: 40px 0; }
  .similar-items-wrapper:before {
    content: "";
    background: #f2f2f2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    right: -15px;
    z-index: -1; }
  .similar-items-wrapper select {
    position: absolute;
    right: 0;
    top: 25px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 14px; }

.similar-items-wrapper {
  padding: 20px 5px;
  margin-bottom: 40px; }

.similar-items-container {
  display: flex;
  margin: 20px 0 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  align-items: stretch; }
  .similar-items-container .card {
    border-radius: 6px;
    overflow: hidden;
    border: solid 1px #ddd;
    padding: 0 0;
    margin-right: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    max-width: 230px; }
    .similar-items-container .card:last-child {
      margin: 0; }
    .similar-items-container .card-title {
      font-weight: 600;
      color: #4a4a4a;
      margin-bottom: 10px;
      display: block; }
      .similar-items-container .card-title h6 {
        font-weight: 600; }
      .similar-items-container .card-title:hover {
        color: #4a4a4a; }
    .similar-items-container .card-body {
      display: flex;
      flex-direction: column; }
    .similar-items-container .card-text__category {
      font-weight: 600;
      padding-bottom: 5px;
      text-transform: uppercase;
      display: inline-block;
      font-size: 12px; }
      .similar-items-container .card-text__category:hover {
        color: inherit; }
    .similar-items-container .card-text__review {
      color: #4cc8e8; }
    .similar-items-container .card-text__news {
      color: #ee3c27; }
    .similar-items-container .card-text__video {
      color: #ff8a2a; }
    .similar-items-container .card-text__feature {
      color: #e6176f; }
    .similar-items-container .card-text__date {
      font-size: 0.85em;
      padding-top: 10px;
      margin-top: auto; }
    .similar-items-container .card-img-link {
      min-height: 100px; }
    .similar-items-container .card-img-top {
      height: auto; }

.similar-items .btn {
  display: inline-block;
  margin-left: auto; }

.similar-items .disclaimer {
  display: block;
  clear: both;
  font-size: 12px;
  margin-top: 25px; }

.tab-pane .row .col a {
  color: #007cc2; }

.recommendations {
  border: 1px solid #ddd;
  padding: 15px; }
  .recommendations .items {
    margin-bottom: 15px; }
    .recommendations .items a.view-details {
      font-size: 12px;
      color: #ff7b03; }
    .recommendations .items .row {
      margin-bottom: 8px; }
      .recommendations .items .row:hover {
        cursor: pointer; }
  .recommendations h2 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 15px 0; }
  .recommendations img {
    width: 100px; }
  .recommendations h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 20px; }
  .recommendations p {
    font-size: 14px;
    margin-bottom: 0px; }
  .recommendations .note {
    color: #999;
    font-size: 11px; }
  .recommendations .btn {
    background: #ff7b03;
    border-color: #ff7b03;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px; }


/*# sourceMappingURL=recommendations-widget-assets-3fe72f1c4257540599c1.css.map*/