.key-details-wrapper {
  padding: 30px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; }

.key-details-item {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-bottom: 20px; }
  .key-details-item:last-of-type {
    padding-right: 0; }
  .key-details-item-item {
    display: flex;
    flex-direction: column;
    white-space: nowrap; }
  .key-details-item-image {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 24px;
    height: 24px;
    background-image: url(88b4b39c9ebd3530a239.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px; }
  .key-details-item-title {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #4a4a4a; }
  .key-details-item-caption {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #6e6e6e; }
  .key-details-item-type-body-type {
    background-image: url(88b4b39c9ebd3530a239.svg); }
    .farmmachinerysales .key-details-item-type-body-type {
      background-image: url(77c698dcd35e414510a7.svg); }
  .key-details-item-type-powertrain {
    background-image: url(88b4b39c9ebd3530a239.svg); }
  .farmmachinerysales .key-details-item-type-category {
    background-image: url(a31a98acec4e23649548.svg); }
  .constructionsales .key-details-item-type-category {
    background-image: url(94997e5778d537441b11.svg); }
  .trucksales .key-details-item-type-category {
    background-image: url(77c698dcd35e414510a7.svg); }
  .bikesales .key-details-item-type-category {
    background-image: url(dee6b38d81a333109348.svg); }
  .caravancampingsales .key-details-item-type-category {
    background-image: url(cc6ff81b6090d683b43d.svg); }
  .key-details-item-type-electric-motor {
    background-image: url(88b4b39c9ebd3530a239.svg); }
  .key-details-item-type-engine, .key-details-item-type-engine-power, .key-details-item-type-enginesize, .key-details-item-type-engine-size {
    background-image: url(2242e94e653222fc6a95.svg); }
  .key-details-item-type-transmission {
    background-image: url(570b3c8bd427d238134d.svg); }
  .key-details-item-type-boat-type {
    background-image: url(0c71ccd4e899cbac7404.svg); }
  .key-details-item-type-hull {
    background-image: url(0c71ccd4e899cbac7404.svg); }
  .key-details-item-type-hull-material {
    background-image: url(075a3389f33da498d858.svg); }
  .key-details-item-type-lifestyle {
    background-image: url(10b4afef997688e2ded2.svg); }
  .key-details-item-type-abs {
    background-image: url(9dffa75569e98161c326.svg); }
  .key-details-item-type-odometer {
    background-image: url(5d7a3e3cc3fe56a3bd2c.svg); }
  .key-details-item-type-colour {
    background-image: url(d08976138fa3b29720ea.svg); }
  .key-details-item-type-fuelcombined {
    background-image: url(5d7a3e3cc3fe56a3bd2c.svg); }
  .key-details-item-type-drive-type {
    background-image: url(b20f602fd59643e979d1.svg); }
    .farmmachinerysales .key-details-item-type-drive-type, .constructionsales .key-details-item-type-drive-type {
      background-image: url(662f8580fe233449801e.svg); }
  .key-details-item-type-gvm-gcm {
    background-image: url(060ed2afde692fb80617.svg); }
  .key-details-item-type-length {
    background-image: url(9c7811ba7ca641ef189e.svg); }
  .key-details-item-type-sleeps {
    background-image: url(9a36ea0254764be0faf4.svg); }
  .key-details-item-type-shower {
    background-image: url(d55165682af27b669dfa.svg); }
  .key-details-item-type-hours {
    background-image: url(d57dd1b862a7137627f7.svg); }


/*# sourceMappingURL=key-details-assets-5cf0469acc821cf4bf95.css.map*/