.details-price {
  text-align: left;
  color: #000;
  padding: 30px 30px 20px; }
  .details-price .price {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px;
    white-space: nowrap;
    color: #000; }
  .details-price .description {
    font-size: 14px;
    top: -5px;
    position: relative; }
    .details-price .description:hover {
      text-decoration: underline; }
  .details-price .pre-price-text {
    font-size: 14px;
    margin-bottom: 5px;
    color: #6e6e6e; }
  .details-price .price-link {
    text-decoration: none; }
    .details-price .price-link[data-target-url=''] {
      text-decoration: none;
      cursor: default; }
      .details-price .price-link[data-target-url='']:hover {
        text-decoration: none; }
      .details-price .price-link[data-target-url=''] .description {
        text-decoration: none; }
        .details-price .price-link[data-target-url=''] .description:hover {
          text-decoration: none; }

.details .badge {
  font-weight: 600;
  font-size: 12px;
  padding: 6px; }
  .details .badge-type-hail-damaged {
    background-color: #b71c1c; }
  .details .badge-type-special-offer {
    background-color: #ff7b03; }
  .details .badge-type-coming-soon {
    background-color: #4eb4d1; }
  .details .badge-type-run-out-stock {
    background-color: #5d5d5d; }
  .details .badge-type-clearance-stock {
    background-color: #5d5d5d; }

.details-price .badge-options-fitted {
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 15px;
  background-color: #fff;
  border: solid 1px #dddddd;
  font-size: 12px;
  color: #9b9b9b;
  position: relative;
  padding: 4px 32px 4px 40px;
  cursor: pointer; }
  .details-price .badge-options-fitted .badge-icon {
    background: url(c44d29e34238a3f8969b.svg) no-repeat;
    margin-left: 8px;
    margin-top: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 20px;
    height: 20px;
    float: left; }

.details-price .badge-lateststock {
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 15px;
  background-color: #fff;
  border: solid 1px #dddddd;
  font-size: 12px;
  color: #9b9b9b;
  position: relative;
  padding: 4px 17px 4px 40px;
  cursor: pointer; }
  .details-price .badge-lateststock .badge-icon {
    background: url(23d68e4af476daf5019b.svg) no-repeat;
    margin-left: 8px;
    margin-top: 2px;
    position: absolute;
    top: 1px;
    left: 0px;
    display: block;
    width: 20px;
    height: 20px;
    float: left; }

.details-price .badge-clearance {
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 15px;
  background-color: #fff;
  border: solid 1px #dddddd;
  font-size: 12px;
  color: #9b9b9b;
  position: relative;
  padding: 4px 29px 4px 40px;
  cursor: pointer; }
  .details-price .badge-clearance .badge-icon {
    background: url(f9e2748e4d2d46baf16e.svg) no-repeat;
    margin-left: 8px;
    margin-top: 3px;
    position: absolute;
    top: 3px;
    left: 0px;
    display: block;
    width: 21px;
    height: 21px;
    float: left; }

.details-price .price-indicator {
  min-height: 52px; }

.details-price .badge-low-price {
  border: solid 1px #ddd;
  font-size: 12px;
  color: #9b9b9b;
  border-radius: 15px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  padding: 4px 20px 4px 40px; }
  .details-price .badge-low-price:hover {
    text-decoration: none; }
  .details-price .badge-low-price .badge-icon {
    background: url(https://resource.csnstatic.com/retail/price-indicator/ico-badge-low-price.svg) no-repeat;
    margin-left: 5px;
    position: absolute;
    top: 6px;
    left: 4px;
    display: block;
    width: 13px;
    height: 13px; }

.details-price .badge-good-price {
  border: solid 1px #ddd;
  font-size: 12px;
  color: #9b9b9b;
  border-radius: 15px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  padding: 4px 20px 4px 40px; }
  .details-price .badge-good-price:hover {
    text-decoration: none; }
  .details-price .badge-good-price .badge-icon {
    background: url(https://resource.csnstatic.com/retail/price-indicator/ico-badge-good-price.svg) no-repeat;
    margin-left: 5px;
    position: absolute;
    top: -14px;
    left: -21px;
    display: block;
    width: 52px;
    height: 52px; }

.details-price .badge-great-price {
  border: solid 1px #ddd;
  font-size: 12px;
  font-weight: 600;
  color: #0eb492;
  border-radius: 15px;
  background-color: rgba(231, 254, 249, 0.5);
  border: solid 1px #0eb492;
  display: inline-block;
  position: relative;
  padding: 4px 20px 4px 40px; }
  .details-price .badge-great-price .badge-icon {
    background: url(https://resource.csnstatic.com/retail/price-indicator/ico-badge-great-price.svg) no-repeat;
    margin-left: 5px;
    position: absolute;
    top: -14px;
    left: -21px;
    display: block;
    width: 52px;
    height: 52px; }
  .details-price .badge-great-price:hover {
    background: #e7fef9;
    text-decoration: none; }

.details-price .price-currency {
  font-size: .55em;
  font-weight: normal;
  color: #555; }

.details-price.details-price-right-panel .price-indicator {
  margin-top: 10px;
  min-height: unset; }

.price-display-wrap {
  border: 1px solid #ddd;
  border-radius: 6px 6px 0 0;
  margin-top: 10px; }


/*# sourceMappingURL=price-display-assets-dd1bb896008e6a9b352a.css.map*/